services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "${DB_PORT}:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
    expose:
      - "8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend/
      dockerfile: ./Dockerfile
      target: prod
    expose:
      - "80"

  dozzle:
    image: amir20/dozzle:latest
    environment:
      - DOZZLE_BASE=/logs
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    expose:
      - "8080"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.config:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
      - dozzle
    restart: unless-stopped

volumes:
  postgres_data:


