services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "${DB_PORT}:5432"

  backend:
    image: ${DOCKER_IMAGE_REPO:-zapgawd/zaphods-fix}:${BACKEND_IMAGE_TAG:-backend-latest}
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
    command: sh -c "python manage.py collectstatic --noinput && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    expose:
      - "8000"
    depends_on:
      - db

  frontend:
    image: ${DOCKER_IMAGE_REPO:-zapgawd/zaphods-fix}:${FRONTEND_IMAGE_TAG:-frontend-latest}
    expose:
      - "80"

  dozzle:
    image: amir20/dozzle:latest
    environment:
      - DOZZLE_BASE=/logs
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    expose:
      - "8080"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.config:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
      - dozzle
    restart: unless-stopped

volumes:
  postgres_data:


